<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TodoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TodoApp.Properties.Settings>
            <setting name="dbPath" serializeAs="String">
                <value>database.db3</value>
            </setting>
        </TodoApp.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDatabase" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/TodoApp/DatabaseService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDatabase"
                contract="ServiceReference1.IDatabase" name="WSHttpBinding_IDatabase">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>